{% extends 'base.html' %}
{% block title %}
	Post Create
{% endblock %}

{% block icerik %}
	<div class="row" style="margin-top: 30px;">
		<div class="col-lg-8 col-lg-offset-3">
		<h2 class="page-header">Post CREATE</h2>
			<form action="{% url 'post_create' %}" enctype="multipart/form-data" method="post">
				{% csrf_token %}
				{% include 'blog\include\form-include.html' %}
				<div class="form-group">
					<div class="row">
						<div class="col-lg-10">
							<input type="submit" value="Kaydet" class="btn pull-right btn-sm btn-success" >
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}	
		